apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-prometheus-exporter
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: nginx-prometheus-exporter
  namespaceSelector:
    any: true
  endpoints:
  - port: metrics
    interval: 30s
    path: /metrics
